<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to Noir.</h1>
  <p>Shop 'til you <b>drop</b>.</p>
  <p><span class="label label-warning">TODO</span></p>
  <p><i>The carousel should go here.</i>🎠🎠🎠</p>
</div>

<!-- Popular section -->
<div class="row">
  <div class="col-xs-12">
    <h2>Popular</h2><span class="label label-warning">TODO</span>
  </div>
  <div class="col-xs-6">
    <h4>I am a placeholder.</h4>
    <p>Looks like I still have some work to do...</p>
  </div>
  <div class="col-xs-6">
    <h4>I am a placeholder.</h4>
    <p>Looks like I still have some work to do...</p>
  </div>
</div>

<!-- Collections section -->
<div class="row">
  <hr>
  <div class="col-xs-12">
    <h2>Collections</h2><span class="label label-warning">TODO</span>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 collection-popout">
    <h4>Women</h4>
    <p><i>n</i> items</p>
  </div>
  <div class="col-xs-6 collection-popout">
    <h4>Men</h4>
    <p><i>n</i> items</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 collection-popout">
    <h4>Kids</h4>
    <p><i>n</i> items</p>
  </div>
  <div class="col-xs-6 collection-popout">
    <h4>New-ins</h4>
    <p><i>n</i> items</p>
  </div>
</div>

<!-- Newsletter section -->
<div class="row">
  <div class="col-xs-12">
    <h2>Newsletter</h2>
    <p>Sign up to our newsletter</p>
    <span class="label label-warning">TODO</span>
  </div>
</div>