@import "bootstrap-sprockets";
@import "bootstrap";

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 12px;
}

header p {
    color: white;
    margin-top: 15px;
    margin-bottom: 0px;
}

.below-header {
    // Header height is 85px; 85 + 15 = 100
    margin-top: 100px;
}