@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-family: 'Inter', sans-serif;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 12px;
}

header p {
    color: white;
    margin-top: 15px;
    margin-bottom: 0px;
}

.below-header {
    // Header height when viewed on mobile is ~177.5px
    margin-top: 190px;
}

.collection-popout {
    background-color: whitesmoke;
    margin-bottom: 10px;
}