<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav>
            <p class="center"><b><%= yield(:title) %></b></p>
            <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "Menu", '#' %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Shopping Bag", '#' %></li>
                <li><%= link_to "Search", '#' %></li>
            </ul>
        </nav>
    </div>
</header>